.title {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 10px 0 20px;
  background-color: #dadada;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.inner {
  width: 100%;
  min-height: calc(600px - 120px);
  max-height: calc(600px - 120px);
  padding: 0 30px 0 30px;
}

.accountText {
  font-weight: 200;
  font-size: 30px;
  color: var(--mediblue);
}

@media screen and (max-width: 780px) {
  .inner {
    width: 100%;
    padding: 10px;
    padding-top: 40px;
    min-height: calc(100vh - 186px);
    max-height: none;
  }

  .title {
    display: block;
    border-radius: 0;
    background-color: #ffffff;
    padding: 10px;
    padding-top: 12px;
    z-index: 201;
  }

  .accountText {
    font-weight: 200;
    font-size: 20px;
    color: var(--mediblue);
  }


}