.sidebar {
  width: 280px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 5px;
  height: 100%;
  max-height: 100%
}


.icon {
  fill: white;
  height: 30px;
  width: 40px;
}

.buttonWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  padding: 0 10px 0 10px;
}

.divider {
  text-align: center;
  font-size: small;
  height: 25px;
}

.one {
  height: auto;
  top: 0;
  padding: 10px;
}

.two {
  padding: 10px;
  height: auto;
  bottom: 0;
  position: absolute;
  width: 100%;
}








@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}