.sidebar {
  width: 100%;
  height: 100%;
  /*   border-radius: 2rem;*/
  background-color: #F2F3F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 1000;
}

.closeButtonWrapper {
  min-width: 50px !important;
  min-height: 53.19px !important;
  border-radius: 0 0 0 20px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

/* display query for phone
 */
@media only screen and (max-width: 600px) {
  .closeButtonWrapper {
    display: flex;
  }
}

.closeButton {
  width: 30px;
  height: 30px;
  color: #278CFF;
}


.icon {
  fill: white;
  max-height: 30px !important;
  max-width: 30px !important;
}

.buttonWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

/* write a phone media query
 */
@media only screen and (max-width: 600px) {
  .sidebar {
    z-index: 1000;
  }
}


.one {
  height: auto;
  top: 0;
  padding: 25px;
  width: 100%;
  overflow-y: auto;
}

.two {
  padding: 10px;
  height: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;

}

.settingsIcon {
  height: 25px;
  width: 25px;
}

.userOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;

}

.userOptions>* {
  margin: 3px;
  background-color: #278CFF !important;
  width: 100%;
  border-radius: 10px;
  height: 35px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left !important;
  padding-left: 10px;
}

.menu {
  z-index: 2000;
}

.optionsmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  min-width: 100%;
}

.settingsIconHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 20%;
}