@font-face {
   font-family: "LondiniaMedium";
   src: url("/fonts/LondiniaMedium.ttf");
}

@font-face {
   font-family: "GTAmericaRegular";
   src: url("/fonts/GTAmericaRegular.ttf");
}

@font-face {
   font-family: "Canela";
   src: url("/fonts/Canela.otf");
}

.body {
   padding: 0;
   margin: 0;
}

.main {
   max-width: 100vw;
   min-width: 100vw;
   min-height: 100svh;
   overflow-y: hidden !important;
}

@media only screen and (max-width: 768px) {
   .main {
      min-height: 100svh;
   }
}

.menu {
   z-index: 500;
}

.menu>* {
   z-index: 500;
}