.page {
   background: #fff;
   border-radius: 5px;
}

.heroText {
   height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 5;
   margin-bottom: 60px;
}

.heroText>* {
   margin: 0 0 20px 0;
   font-size: 120px;
   line-height: 100px;
   font-weight: 900;
   font-family: 'Canela', sans-serif;
   text-align: left !important;
   margin-right: auto !important;
   padding-left: 20px;
}

.heroText2 {
   height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   z-index: 5;
}

.heroText2>* {
   margin: 0 0 20px 0;
   font-size: 80px;
   line-height: 100px;
   font-weight: 900;
   font-family: 'Canela', sans-serif;
   text-align: left !important;
   margin-right: auto !important;
   padding-left: 20px;
}

.heroText>*:nth-child(1) {
   color: #fff;
   text-shadow: 2px 2px #000000;
   background: var(--medired);
}

.heroText>*:nth-child(2) {
   color: transparent;
   -webkit-text-stroke-color: rgb(255, 255, 255);
   -webkit-text-stroke-width: 1px;
   text-shadow: var(--medired) 2px 2px;
}

.themeOneWord {
   color: white;
   text-shadow: 2px 2px #000000;
}

.heroText2>*:nth-child(1) {
   color: transparent;
   -webkit-text-stroke-color: white;
   -webkit-text-stroke-width: 1px;
   font-size: 75px;
}

.heroText2>*:nth-child(2) {
   color: #fff;
   font-size: 40px;
   line-height: normal;
}

.page>*:nth-child(4) {
   height: 100vh;
}

.page>*:nth-child(5) {
   width: 100%;
   height: 100vh;
}

.page>*:nth-child(3) {
   background-image: linear-gradient(160deg, var(--medired) 20%, var(--medired) 100%);
   z-index: 5;
   min-height: 30svh;
   padding: 25px;
   padding-top: 30px;
   padding-bottom: 40px;
   width: calc(100% - 20px);
   transform: translateY(100vh);
   position: relative;
   border-radius: 20px;
   margin-left: 10px;
   margin-right: 10px;
}

@media only screen and (max-width: 900px) {
   .heroText>*:nth-child(2) {
      font-size: 70px;
   }

   .heroText>*:nth-child(1) {
      margin-right: auto;
   }

   .heroText>* {
      padding-left: 0px;
   }
}

@media only screen and (max-width: 1040px) and (min-width: 900px) {
   .heroText>*:nth-child(2) {
      font-size: 70px;
   }
}



@media only screen and (max-width: 900px) {
   .heroText>* {
      font-size: 80px;
      line-height: 70px;
      text-align: left;
      padding-left: 0;
   }

   .heroText {
      margin-top: 100px;
   }
}


@media only screen and (max-width: 768px) {
   .heroText>* {
      font-size: 50px;
      line-height: 60px;
      text-align: left;
      padding-left: 10px;
      margin-right: auto;
   }

   .themeOneWord {
      background: var(--medired);
   }

   .heroText {
      margin-bottom: 360px;
   }

   .heroText>*:nth-child(1) {
      background: none;
   }

   .heroText>*:nth-child(2) {
      font-size: 42px;
      line-height: 45px;
   }

   .heroText2>*:nth-child(1) {
      font-size: 30px;
      line-height: normal;
      -webkit-text-stroke-width: 0;
      color: white;
   }

   .heroText2>*:nth-child(2) {
      font-size: 15px;
   }
}