.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-height: fit-content;
}

.footer {
  bottom: 0;
  width: 100%;
}

.pageNavbar {
  padding-top: auto;
  top: 0;
  z-index: 5;
  position: sticky !important;
  width: 50%;
}

.page {
  min-height: 100vh;
  position: relative;
}