.layout {
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #F9FAFB;
  background-color: #F9FAFB;
}

.sidebar,
.content {
  height: 100%;
}

.logo {
  display: none !important;
}


.sidebar {
  min-width: 256px;
  max-width: 256px;
  /*   padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5) inset;
}


@media only screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
}

.content {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F6F6F6;

}

.main {
  padding: 0px;
}

.pageName {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
  background-color: var(--mediblue);
  border-radius: 50px;
  color: white;
}

.actions>*:nth-child(1)>* {
  color: white;
}


.title {
  background-color: #278CFF;
  border-radius: 50px 50px 50px 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2rem;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}