.layout {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #F9FAFB;
  background-color: #F9FAFB;
}

.sidebar,
.content {
  height: 100%;
}

.sidebar {
  min-width: 256px;
  max-width: 256px;
  /*   padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}