.layout {
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.boxedLayout {
  padding: 10px;
  height: 100vh;
  height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.boxedContent>.navbar {
  width: calc(100%);
  transition-duration: .5s;
  position: fixed;
  top: 0;

}

.content>.navbar {
  transition-duration: .5s;
  width: calc(100% - 256px);
  position: fixed;
  top: 0;
}

.layout,
.boxedLayout,
.content,
.boxedContent {
  transition-duration: .5s;
  overflow: hidden;
}

.sidebar,
.content,
.boxedContent {
  height: 100%;
}


.boxedContent {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F6F6F6;
}

.logo {
  display: none !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}


@media only screen and (max-width: 600px) {
  .sidebar {
    width: 256px;
    position: absolute;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000;
    height: calc(100svh - 20px);
    transition-duration: .5s;
    border-radius: 10px;
    overflow: hidden;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    padding-bottom: 10px;
  }
}

.content {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F6F6F6;

}

.main {
  padding-top: 52.19px;
  background: none;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  overflow: hidden;
  border-radius: 10px;
}

.navbar {
  position: fixed;
  top: 10px;
  z-index: 100;
  width: calc(100% - 276px);
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.pageName {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2rem;
  background-color: var(--mediblue);
  border-radius: 50px;
  color: white;
}

.actions>*:nth-child(1)>* {
  color: white;
}


.title {
  background-color: #278CFF;
  border-radius: 50px 50px 50px 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2rem;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}