.wrapper {
  max-height: 450px;
  min-height: 450px;
}

.one {
  position: relative;
  color: aliceblue;
  font-weight: 350;
  text-align: center;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  background-image: url('https://www.englishschool.ac.cy/udata/contents/images/Events/2020/12%20Dec/Medimun%20cropped%20for%20website.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.avatar {
  transform: translateY(200px);
  position: relative;
  margin-left: 40px;
  z-index: 1;
  min-height: 200px;
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  border-radius: 200px;
  background-color: #8eb7c1;
  border: 5px solid white;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  background-image: url('/placeholders/avatar.png');
  background-size: cover;
  background-position: center;
}

.name {
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 650;
  color: #282828;
  margin-top: 0;
  margin-bottom: 0;
}

.infoHolder {
  display: flex;
  flex-direction: row;
}

.infoHolder>* {
  margin-right: 10px;
}

.role {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  color: #282828;
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 10px;
  border-radius: .7rem;
  margin-top: 5px;
  background-color: #d2ebf9;
  color: #282828;
}

.two {
  color: rgb(165, 35, 35);
  background-color: #ffffff;
  font-weight: 350;
  min-height: 150px;
  max-height: fit-content;
  width: 100%;
  padding-left: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .avatar {
    margin-left: 20px;

  }

  .wrapper {
    min-height: 575px !important;
  }

  .two {
    position: absolute;
    padding-left: 0px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 110px;
    min-height: fit-content;
  }

  .infoHolder {
    flex-direction: column;
    align-items: left;
  }

  .infoHolder>* {
    margin-right: 0px;
    width: 100%;
    margin-right: 10px;
  }

  .info {
    margin-top: 10px;
  }


}