@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

.sidebar {
  width: 256px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 100;
}

.closeButtonWrapper {
  min-width: 50px !important;
  min-height: 53.19px !important;
  border-radius: 0 0 0 20px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

.settings {
  padding: 8px !important;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.settings>* {
  width: 100%;
  height: 100%;
}

.closeButton {
  width: 30px;
  height: 30px;
  color: #278CFF;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    z-index: 1000;
    min-width: 256px;
    transition-duration: .5s;
  }

  .closeButtonWrapper {
    display: flex;
  }

  .closedSidebar {
    max-width: 0px;
    transition-duration: .5s;
  }

}

.zero {
  width: 100%;
  padding: 25px;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.userOptions {
  width: calc(100% - 20px);
}

.profileButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  height: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  padding: 10px;
}

.one {
  height: auto;
  max-width: calc(256px - 20px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.one>*,
.userOptions {
  max-width: calc(256px - 20px);
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.two {
  height: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
}


.menu {
  z-index: 2000;
}

.optionsmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  min-width: 100%;
}

.settingsIconHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 20%;
}

.sidebarItem,
.sidebarSelectedItem,
.sidebarItem:hover {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  border-radius: 0px;
  padding-left: 10px;
  color: #000000 !important;
  font-size: 20px;
  transition-duration: .5s;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  cursor: pointer;
  border-radius: 7.5px;
}

.closedSidebar {
  width: 0px;
  transition: all 0.5s ease;
  min-height: 100%;
}


.sidebarSelectedItem,
.sidebarItem:hover {
  color: #FFFFFF !important;
  background-color: #008cff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition-duration: .5s;
}

.iconWrapper {
  padding-right: 5px;
}

.iconWrapper>* {
  width: 30px;
  height: 30px;
  filter: drop-shadow(1px 1px 3px #00000080);
}

.sidebarItem:nth-last-child(1) {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -.5px;
  color: #000000;
}

.sidebarItem:hover:nth-last-child(1) {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -.5px;
  color: #ffffff;
}

.text {
  padding-left: 10px;
  font-size: 16px !important;
  font-weight: 650;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
}