@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.button {
  position: fixed;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  z-index: 100;
  background-color: aliceblue;
}



.nfSmallText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-family: 'Alexandria', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonText {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}


@media only screen and (max-width: 600px) {

  .logo {

    align-items: center !important;
  }

  .nfText {
    font-size: 1500%;
  }

  .nfSmallText {
    font-size: 1.5rem;
  }

  .buttonText {
    font-size: 1rem;
  }
}