.page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.banner {
  top: -300px;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  z-index: 10;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.category {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  background: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  z-index: -1;
}

.uploadButtons {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 0.5fr;
  grid-gap: 10px;
  width: 100%;
  height: 100%;
}

.nameholder {}


.nameholder>div {
  display: flex;
  flex-direction: column;
  align-items: bottom;
  align-items: bottom;
}

.pfp {
  margin-left: 20px;
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
  object-fit: cover;
  background-size: cover;
  background-position: right;
  margin-right: auto;
  z-index: 6;
  margin-right: auto;
  background-color: rgb(255, 255, 255) !important;
  padding: 3px;
}




.infoList>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 20px);
  justify-content: left;
  background-color: #EDF2F7;
  margin-bottom: 3px;
  border-radius: 0.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

.infoList>li>* {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: middle;
  width: 100%;
  height: 100%;
  justify-content: left;
}

.infoList>li>div>*:nth-child(1) {
  padding-top: 3px;
  padding-bottom: 3px;
  color: rgb(0, 0, 0);
  width: 145px;
  margin-left: 14px;
  font-family: sans-serif;
  font-weight: 500;
  margin-right: 10px;
  padding-left: 10px;
  transform: translateX(-14px);
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: 1px solid #bdbdbd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profileRadio {
  width: 100%;
  height: 100%;
  display: flex;
}

.radio {
  display: none !important;
  padding: 5px;
}

.selectedRadio {
  background-color: #3182CE !important;
  color: #ffffff !important;
  border-radius: 5px;
}

.switch {
  display: flex;
  flex-direction: row;
  background-color: #EDF2F7;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 3px;
  min-height: 50px;
}

.removeRoles {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 5px;
  margin-bottom: 3px;
  width: 100%;
  align-items: center;
  padding-right: 10px;
  background-color: #EDF2F7;
  border-radius: 0.5rem;
}

.removeDivider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  align-items: flex-end;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.fdr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.picture {
  min-width: fit-content;
  max-width: fit-content;
}



.uploadButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 4px;
}

@media only screen and (max-width: 767px) {}