@font-face {
  font-family: "LondiniaMedium";
  src: url("/fonts/LondiniaMedium.ttf");
}

@font-face {
  font-family: "GTAmericaRegular";
  src: url("/fonts/GTAmericaRegular.ttf");
}

@font-face {
  font-family: "Canela";
  src: url("/fonts/Canela.otf");
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;

  --medired: #AE2D28;
  --mediblue: #307AB7;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;

  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;

  --ring: 216 34% 17%;

  --radius: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes slideInFromLeft {
  0% {
    width: 0px !important;
  }

  100% {
    width: 30px !important;
  }
}

::-moz-selection {
  color: white;
  background: var(--medired);
  border-radius: 50px;
}

::selection {
  color: white;
  background: var(--medired);
  border-radius: 50px;
}

html {
  scroll-behavior: smooth;
}

.globallogo>* {
  position: relative !important;
  display: inline-block;
  vertical-align: middle;
  width: fit-content;
}

.globallogo {
  position: relative !important;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}