@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.section0text {
  position: absolute;
  position: fixed;
  z-index: -1;
  top: 0;
  display: flex;
  flex-direction: column;
}

.body {
  background: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
}

.buttonholder {
  z-index: 5;
  background-color: #868686;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  bottom: 0;
  margin-bottom: 10px;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px #222;
  bottom: 0;
  position: fixed;
  position: -webkit-sticky;
}

.buttonarrow {
  animation: jumpInfinite 1s infinite;
  color: #FFFFFF;
  font-size: 20px;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0;
  }
}

.section0text>div {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: var(--index-section3-image);
}

.imageherocolor {
  background-image: url(/pages/index/hero-color2.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  filter: grayscale(var(--indexherofilter)) drop-shadow(0px 0px 20px #222);
  position: fixed;
  transform: translateY(var(--index-hero-translate-y));
}

.herotext1,
.herotext2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  z-index: "-1";
  color: #ffffff;
  transform: translateY(-160px);

}

.herotext1 {
  line-height: 100px;
}

.herotext2 {
  line-height: 120px;
}

.section2ref {
  position: fixed;
  transform: translateY(-530px);
}

.herotext3 {
  color: #ffffff;
  line-height: 100px;
  transform: translateY(-200px);
}

.herotext4 {
  color: #ffffff;
  padding: 15px;
  max-width: 830px;
  transform: translateY(-200px);
  font-size: large;

}

.section0 {
  height: 100vh;
  width: 100%;
  z-index: -4;
}

.section2 {
  height: 150vh;
  width: 100%;
  /*   background: repeating-linear-gradient(45deg,
      rgb(255, 255, 255),
      rgb(255, 255, 255) 10px,
      var(--mediblue) 10px,
      var(--mediblue) 20px); */
  background-image: url("/pages/index/blue.jpg");
  /*   background-color: #8B553F;
 */
  background-size: cover;
  background-position: right;
  filter: blur(0px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section3 {
  height: auto;
  width: 100%;
  transform: translateY(var(--section3-images-translate-y));
}

.section4 {
  width: 100%;
  height: 100vh;
  background: #9bb6cd;
  margin-top: 10px;
  background-image: url("/pages/index/blue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 15;
  position: sticky;
  position: -webkit-sticky;
  background: #36D1DC;
  background: linear-gradient(45deg, var(--mediblue), #36D1DC);
  /*background: -webkit-linear-gradient(to right, #5B86E5, #00eaff);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  background-size: 500% 500%; 
  animation: gradient 15s ease infinite; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.section4>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 90%;
  border-radius: 25px;
  opacity: 0.9;

}

.herotext5 {
  color: #ffffff;
  line-height: 65px;
  font-size: 50pt;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.section2text {
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section3image {
  z-index: -1;
}

.imageholder>* {
  width: calc((100% - 20px)/2 - 10px);
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5px;
  border-radius: 10px;
  margin: 5px;
  z-index: 10;
  filter: grayscale(1);
}

.imageholder:nth-child(1):hover {
  filter: grayscale(0);
}

.imageholder:nth-child(2):hover {
  filter: grayscale(0);
}

.imageholder:nth-child(3):hover {
  filter: grayscale(0);
}

.imageholder:nth-child(4):hover {
  filter: grayscale(0);
}

.imageholder:nth-child(5):hover {
  filter: grayscale(0);
}

.imageholder:nth-child(6):hover {
  filter: grayscale(0);
}

.imageholder>*:hover {
  filter: grayscale(0);
}

.createbutton {
  color: #000;
}


.imageholder {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  height: 100%;
}

.landscape {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 1000;
}

@media screen and (max-device-width: 767px) and (orientation: landscape) {
  .landscape {
    display: visible;
  }
}

@media only screen and (max-width: 920px) {

  .section2ref {
    position: fixed;
    transform: translateY(1000px);
  }

  .imageholder>* {
    width: calc(100% - 20px);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 10px;
  }

  .section0text {
    text-align: left;
  }

  .herotext1,
  .herotext2,
  .herotext3 {
    text-align: start;
    margin-left: 10px;
  }

  .herotext1 {
    font-size: 80px;
    line-height: 80px;
    width: 100%;
    padding-left: 10px;
  }

  .herotext2 {
    font-size: 50px;
    line-height: 50px;
    width: 100%;
    padding-left: 10px;
  }

  .herotext1,
  .herotext2 {
    transform: translateY(-100px);
  }

  .herotext3 {
    font-size: 70px;
    line-height: 80px;
  }
}

@media screen and (max-device-width: 767px) and (orientation: landscape) {
  .landscape {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }

  .landscapeText {
    font-size: 50px;
    line-height: 50px;
    width: 100%;
    padding-left: 10px;
    color: #fff;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}