@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.background {
  background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--mediblue);
}

.panel {
  width: calc(100% - 420px);
  height: 100%;
  background-image: url(/pages/login/images/backdrop.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0 10px 10px 0;
}

.loginModal {
  border-radius: 10px 0 0 10px;
  max-width: 420px;
  height: 100%;
  padding: 25px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.ButtonGroup {
  background-color: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.logo {
  position: fixed;
  z-index: 15;
  left: 0;
  transform: translateY(-50px);
}

.forgot {
  font-size: 5px;
  bottom: 0;
  margin-bottom: 10px;
  color: #868686;
  font-size: 12px;
}


@media (max-width: 780px) {
  .container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: none;

  }

  .gradient {
    background-color: rgb(245, 245, 245);
    padding: 50px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
  }

  .background {
    align-items: center;
    justify-content: center;
  }

  .panel {
    display: NONE;
  }

  .loginModal {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: none;
  }
}