.names {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px;
  grid-gap: 30px;

}



.backgroundImage {
  background-image: url('https://medimun.net/wp-content/uploads/2022/09/28061302_2057930257557045_5314440321590932207_o-1-1536x791.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalButton {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: white;
  font-size: 45px;
  font-weight: 600;
  cursor: pointer;
}

.container {
  width: 80%;
  min-height: 600px;
  animation: slideIn 0.5s ease-in-out;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.helpertext {
  font-size: 10px;
  color: gray;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.infotext {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.button {
  color: #000;
  background-color: #fff;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  align-items: center;
  padding-top: 14px;
}

.scrollBox::-webkit-scrollbar {
  width: 10px;

}

.scrollBox::-webkit-scrollbar-thumb {
  background: var(--mediblue);
  border-radius: 10px;
}

.form {
  padding-left: 15px;
  padding-right: 15px;
}


.scrollBox {
  height: 465px;
  width: 100%;
  overflow: auto;
  color: #000;
  padding: 10px;
}

.required {
  color: rgba(255, 0, 0, 0.712);
  font-size: xx-small;

}

.optional {
  color: rgba(68, 54, 229, 0.712);
  font-size: xx-small;

}

.inputGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.dobInput {
  grid-column: span 2;
}

.centered {
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 780px) {
  .finalButton {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: white;
    font-size: 100px;
    font-weight: 600;
    cursor: pointer;
  }


  .centered {
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
  }

  .names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    grid-gap: 30px;
  }

  .container {
    min-height: calc(100vh + 300px);
    width: 100%;
    border-radius: 0;
    padding: 20px;
    overflow: auto;
  }

  .scrollBox {
    height: calc(100vh - 305px);
    width: 100%;
    overflow: auto;
    color: #000;
    padding: 10px;
  }

  .dobInput {
    grid-column: span 1;
  }

  .inputGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: calc(100vh - 305px);
    font-size: 16px;
  }

  .inputGrid::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
    -webkit-overflow-scrolling: auto !important;
  }

  .inputGrid::-webkit-scrollbar {
    width: 10px;
    -webkit-overflow-scrolling: auto !important;
  }

  .inputGrid::-webkit-scrollbar-thumb {
    background: var(--mediblue);
    border-radius: 10px;
    -webkit-overflow-scrolling: auto !important;
  }


}