.delegatesColored {
   width: 100%;
   position: fixed;
   bottom: 0;
   min-width: 1400px;
   z-index: 40;
   max-height: calc(50vh);
   min-height: calc(50vh);
   object-fit: cover;
   object-position: center center;
   -webkit-filter: drop-shadow(0px 0px 5px var(--medired));
   filter: drop-shadow(0px 0px 5px var(--medired));
   overflow: visible;
}