.logo>* {
   position: relative !important;
   display: inline-block;
   vertical-align: middle;
   width: fit-content;
}

.logo {
   position: relative !important;
   display: inline-block;
   vertical-align: middle;
   overflow: hidden;
}