.sidebar {
   position: absolute;
   background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
   opacity: 0.8;
   max-height: 100svh;
   min-height: 100svh;
   overflow: hidden;
   width: 500px;
}

.sidebarOverlay {
   position: absolute;
   opacity: 0.8;
   max-height: 100svh;
   min-height: 100svh;
   overflow: hidden;
   width: 500px;
   display: grid;
   z-index: 50;

   flex-direction: column;
   align-items: bottom;
}

.page {
   background-image: url("/assets/delegates-indoors.jpg");
   min-height: 100svh;
   background-size: cover;
}

.title {
   position: absolute;
   margin-top: calc(100svh - 266px);
   left: 0;
   font-family: "Canela";
   font-size: 120px;
   margin-right: calc(100vw - 180px);
   color: transparent;
   transform: rotate(-90deg) translateY(-102px);
   -webkit-text-stroke-color: rgb(87, 87, 87);
   -webkit-text-stroke-width: 1px;
}


@media only screen and (max-width: 768px) {
   .sidebar {
      width: 100%
   }

   .sidebarOverlay {
      width: 100%
   }
}